apiVersion: wg.krakensystems.co/v1alpha1
{% if item.public_ip != '' %}
kind: Server
{% else %}
kind: Client
{% endif %}
metadata:
  annotations:
    creator: "Created by ansible wireguard CNI; https://github.com/KrakenSystems/wg-cni"
  name: {{ item.name }}
  namespace: {{ wg_operator_namespace }}
spec:
  publicKey: {{ item.public_key }}
  addresses:
  - {{ item.private_ip }}/32
{% if item.allowed_ips %}
  allowedIPs:
{% for item in item.allowed_ips %}
  - {{ item }}
{% endfor %}
{% endif %}
{% if item.public_ip != '' %}
  endpoint: "{{ item.public_ip }}:{{ item.port }}"
{% endif %}
{% if item.post_up %}
  postUp: |
    {{ item.post_up | join("; ") }}
{% endif %}
{% if item.post_down %}
  postDown: |
    {{ item.post_down | join("; ") }}
{% endif %}
