[Interface]
Address = {{ wg_private_ip }}/32
PrivateKey = {{ wg_private_key }}
{% if wg_public_ip != '' %}ListenPort = {{ wg_port }}{% endif %}

{% if wg_postup %}
PostUp = {{ wg_postup | join("; ") }}
{% endif %}
{% if wg_postup %}
PostDown= {{ wg_postdown | join("; ") }}
{% endif %}


{% for item in wg_peers %}
{% if item.public_ip != '' or wg_public_ip != '' %}
[Peer]
PublicKey = {{ item.public_key }}
AllowedIPs = {{ item.allowed_ips | join(', ')}}
{% if item.public_ip != '' %}
PersistentKeepalive = {{ wg_keep_alive }}
Endpoint = {{ item.public_ip }}:{{ item.port }}
{% endif %}
{% endif %}
{% endfor %}
