[Interface]
Address = {{ wg_private_ip }}
PrivateKey = {{ wg_private_key }}
ListenPort = {{ wg_port }}

{% if wg_postup %}
PostUp = {{ wg_postup | join("; ") }}
{% endif %}
{% if wg_postup %}
PostDown= {{ wg_postdown | join("; ") }}
{% endif %}


{% for item in groups['wireguard-server'] %}
{% if item != inventory_hostname %}
[Peer]
PublicKey = {{ hostvars[item]['wg_public_key'] }}
AllowedIps = {{ hostvars[item]['wg_private_ip'] }}/32{% if 'pod_cidr' in hostvars[item] %},{{ hostvars[item]['pod_cidr'] }}{% endif %}{% if wg_masq_cidr %}, {{ wg_masq_cidr }}{% endif %}{{ "" }}
Endpoint = {{ hostvars[item]['wg_public_ip'] }}:{{ hostvars[item]['wg_port'] }}
PersistentKeepalive = {{ wg_keep_alive }}
{% endif %}
{% endfor %}

{% if inventory_hostname in groups['wireguard-server'] %}
{% for item in groups['wireguard-client'] %}
{% if item != inventory_hostname %}
[Peer]
PublicKey = {{ hostvars[item]['wg_public_key'] }}
AllowedIps = {{ hostvars[item]['wg_private_ip'] }}/32{% if 'pod_cidr' in hostvars[item] %},{{ hostvars[item]['pod_cidr'] }}{% endif %}{% if wg_masq_cidr %}, {{ wg_masq_cidr }}{% endif %}
{% endif %}
{% endfor %}
{% endif %}
